# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env
*.egg-info/
.pytest_cache/
.mypy_cache/

# ML / data
data/raw/
data/processed/
*.csv
!data/.gitkeep

# MLflow & DVC
mlruns/
.dvc/cache/

# OS / IDE
.DS_Store
Thumbs.db
.idea/
